
/* Reset default styles */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Remove any conflicting styles */
.logo {
  height: auto;
  padding: 0;
  will-change: auto;
  transition: none;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: none;
  }
}
